{
   "openapi": "3.0.1",
   "info": {
      "title": "MISSION CONTROL",
      "description": "Documentation for Mission Control API",
      "version": "2.0.0"
   },
   "servers": [
      {
         "url": "https://api.solace.cloud",
         "description": "Solace PubSub+ Cloud US EAST Region"
      },
      {
         "url": "https://api.solacecloud.com.au",
         "description": "Solace PubSub+ Cloud AU Region"
      },
      {
         "url": "https://api.solacecloud.eu",
         "description": "Solace PubSub+ Cloud EU Region"
      },
      {
         "url": "https://api.solacecloud.sg",
         "description": "Solace PubSub+ Cloud SG Region"
      }
   ],
   "security": [
      {
         "bearerAuth": []
      }
   ],
   "paths": {
      "/api/v2/missionControl/eventBrokerServices/{serviceId}/broker/SEMP/v2/config/{resourcePath}/**": {
         "get": {
            "tags": [
               "Broker Configuration Using SEMP Proxy"
            ],
            "summary": "(Beta) Get a specific resource object for an event broker service by the object path using a SEMP GET",
            "description": "<p>Get the details for a resource object using the unique identifier for the event broker service and the resource object path.</p><p><b>Note:</b> The Try It! feature for this API does not work. To use this API, you must:\n<ol><li>Copy the URL to another program.</li>\n<li>Remove the <code>/**</code> appended to the end of the URL.</li>\n<li>Replace the variables in the URL as specified in the PATH PARAMS.</li>\n</ol></p>\n<p>For more information, see <a href=https://docs.solace.com/Cloud/enable-oauth-profiles-on-service.htm>Configuring OAuth Profiles for Management Access to Event Broker Services</a> in the Solace documentation.</p>\n<p>This SEMP API supports the following SEMP objects only:\n<ul><li>[oauthProfiles]</li></ul>\n</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `services:get` **or** `services:get:self` ]",
            "operationId": "getResource",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The unique identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "resourcePath",
                  "in": "path",
                  "description": "The resource path for the resource object you want to retrieve using the SEMP request, for example oauthProfiles/profile1.\nSee <a href=\"objects\">Objects</a> for resource path formatting.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "customQuery",
                  "in": "query",
                  "description": "The query parameters to pass as part of the SEMP request when retrieving resource objects from the event broker service. For example, you can build the URL as follows:\nbroker/SEMP/v2/config/oauthProfiles/testOAuth?select=msgVpnName,queueName&where=msgVpnName==test&count=25&cursor=1\nSee <a href=\"objects\">Objects</a> for query parameters.",
                  "style": "form",
                  "explode": true,
                  "schema": {
                     "type": "object"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "A JSON object returned by the event broker service that describes the resource object’s attributes and contains requested metadata.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "string"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {}
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {}
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {}
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "put": {
            "tags": [
               "Broker Configuration Using SEMP Proxy"
            ],
            "summary": "(Beta) Replace a resource object on an event broker service using a SEMP PUT",
            "description": "<p>To replace a resource object on an event broker service using a SEMP PUT.</p><p><b>Note:</b> The Try It! feature for this API does not work. To use this API, you must:\n<ol><li>Copy the URL to another program.</li>\n<li>Remove the <code>/**</code> appended to the end of the URL.</li>\n<li>Replace the variables in the URL as specified in the PATH PARAMS.</li>\n</ol></p>\n<p>For more information, see <a href=https://docs.solace.com/Cloud/enable-oauth-profiles-on-service.htm>Configuring OAuth Profiles for Management Access to Event Broker Services</a> in the Solace documentation.</p>\n<p>This SEMP API supports the following SEMP objects only:\n<ul><li>[oauthProfiles]</li></ul>\n</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `services:post` ]",
            "operationId": "replaceResource",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The unique identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "resourcePath",
                  "in": "path",
                  "description": "The resource path where you want to replace a resource object using the SEMP request, for example, oauthProfiles/profile1.\nSee <a href=\"objects\">Objects</a> for resource path formatting.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "requestBody": {
               "description": "The replacement resource object’s attributes and values in JSON format.",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "string"
                     },
                     "example": "{\"enabled\":true,\"oauthProfileName\":\"profile1\",\"oauthRole\":\"client\",\"resourceServerParseAccessTokenEnabled\":false,\"resourceServerValidateAudienceEnabled\":false,\"resourceServerValidateIssuerEnabled\":false,\"resourceServerValidateScopeEnabled\":false,\"resourceServerValidateTypeEnabled\":false,\"sempEnabled\":false}"
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "A JSON object returned by the event broker service after replacing the resource object. The JSON object describes the replacement resource object’s attributes in name/value pairs.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "string"
                        },
                        "example": "{\"data\":{\"description\":\"SolaceAdmin Group\",\"globalAccessLevel\":\"read-only\",\"groupName\":\"SolaceAdmin\",\"msgVpnAccessLevel\":\"read-write\",\"oauthProfileName\":\"profile1\"},\"links\":{\"msgVpnAccessLevelExceptionsUri\":\"https://mr-connection-cqifyqi5l0x.messaging.mymaas.net:943/SEMP/v2/config/oauthProfiles/profile1/accessLevelGroups/SolaceAdmin/msgVpnAccessLevelExceptions\",\"uri\":\"https://mr-connection-cqifyqi5l0x.messaging.mymaas.net:943/SEMP/v2/config/oauthProfiles/profile1/accessLevelGroups/SolaceAdmin\"},\"meta\":{\"request\":{\"method\":\"PUT\",\"uri\":\"https://mr-connection-cqifyqi5l0x.messaging.mymaas.net:943/SEMP/v2/config/oauthProfiles/profile1/accessLevelGroups/SolaceAdmin\"},\"responseCode\":200}}"
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/BrokerSempProxyError"
                        },
                        "example": {
                           "meta": {
                              "error": {
                                 "code": "0",
                                 "description": "An entity of the type OAuth profile was passed in an invalid format.",
                                 "status": "SOLACE_CLOUD_CUSTOM_OAUTH_VALIDATION_FAILURE"
                              },
                              "request": {
                                 "method": "PUT",
                                 "uri": "/api/v2/missionControl/eventBrokerServices/v4qyo12tlvb/broker/SEMP/v2/config/oauthProfiles/profile1"
                              },
                              "responseCode": 400
                           }
                        }
                     }
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {}
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {}
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "post": {
            "tags": [
               "Broker Configuration Using SEMP Proxy"
            ],
            "summary": "(Beta) Create a resource object for an event broker service using a SEMP POST",
            "description": "<p>To create a resource object for event broker service using a SEMP POST.</p><p><b>Note:</b> The Try It! feature for this API does not work. To use this API, you must:\n<ol><li>Copy the URL to another program.</li>\n<li>Remove the <code>/**</code> appended to the end of the URL.</li>\n<li>Replace the variables in the URL as specified in the PATH PARAMS.</li>\n</ol></p>\n<p>For more information, see <a href=https://docs.solace.com/Cloud/enable-oauth-profiles-on-service.htm>Configuring OAuth Profiles for Management Access to Event Broker Services</a> in the Solace documentation.</p>\n<p>This SEMP API supports the following SEMP objects only:\n<ul><li>[oauthProfiles]</li></ul>\n</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `services:post` ]",
            "operationId": "createResource",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The unique identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "resourcePath",
                  "in": "path",
                  "description": "The resource path where you want to create the resource object using the SEMP request, for example, oauthProfiles.\nSee <a href=\"objects\">Objects</a> for resource path information.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "requestBody": {
               "description": "The attributes of the resource object you want to create, and their values, in JSON format.",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "string"
                     },
                     "example": "{\"accessLevelGroupsClaimName\":\"groups\",\"clientId\":\"example123\",\"clientRedirectUri\":\"\",\"clientRequiredType\":\"JWT\",\"clientScope\":\"openid email\",\"clientSecret\":\"example456\",\"clientValidateTypeEnabled\":false,\"defaultGlobalAccessLevel\":\"none\",\"defaultMsgVpnAccessLevel\":\"none\",\"displayName\":\"\",\"enabled\":true,\"endpointAuthorization\":\"\",\"endpointDiscovery\":\"https://example.accounts.ondemand.com/.well-known/openid-configuration\",\"endpointDiscoveryRefreshInterval\":86400,\"endpointIntrospection\":\"\",\"endpointIntrospectionTimeout\":10,\"endpointJwks\":\"\",\"endpointJwksRefreshInterval\":86400,\"endpointToken\":\"\",\"endpointTokenTimeout\":10,\"endpointUserinfo\":\"\",\"endpointUserinfoTimeout\":10,\"interactiveEnabled\":true,\"interactivePromptForExpiredSession\":\"\",\"interactivePromptForNewSession\":\"select_account\",\"issuer\":\"\",\"oauthProfileName\":\"profile1\",\"oauthRole\":\"client\",\"resourceServerParseAccessTokenEnabled\":true,\"resourceServerRequiredAudience\":\"\",\"resourceServerRequiredIssuer\":\"\",\"resourceServerRequiredScope\":\"\",\"resourceServerRequiredType\":\"at+jwt\",\"resourceServerValidateAudienceEnabled\":true,\"resourceServerValidateIssuerEnabled\":true,\"resourceServerValidateScopeEnabled\":true,\"resourceServerValidateTypeEnabled\":true,\"sempEnabled\":false,\"usernameClaimName\":\"sub\"}"
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "A JSON object returned by the event broker service after resource object creation. The JSON object describes the resource object’s properties in name/value pairs.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "string"
                        },
                        "example": "{\"data\":{\"allowedHost\":\"mr-connection-cqifyqi5l0x.messaging.mymaas.net:943\",\"oauthProfileName\":\"profile1\"},\"links\":{\"uri\":\"https://mr-connection-cqifyqi5l0x.messaging.mymaas.net:943/SEMP/v2/config/oauthProfiles/profile1/clientAllowedHosts/mr-connection-cqifyqi5l0x.messaging.mymaas.net%3A943\"},\"meta\":{\"request\":{\"method\":\"POST\",\"uri\":\"https://mr-connection-cqifyqi5l0x.messaging.mymaas.net:943/SEMP/v2/config/oauthProfiles/profile1/clientAllowedHosts\"},\"responseCode\":200}}"
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/BrokerSempProxyError"
                        },
                        "example": {
                           "meta": {
                              "error": {
                                 "code": "0",
                                 "description": "An entity of the type OAuth profile was passed in an invalid format.",
                                 "status": "SOLACE_CLOUD_CUSTOM_OAUTH_VALIDATION_FAILURE"
                              },
                              "request": {
                                 "method": "POST",
                                 "uri": "/api/v2/missionControl/eventBrokerServices/v4qyo12tlvb/broker/SEMP/v2/config/oauthProfiles"
                              },
                              "responseCode": 400
                           }
                        }
                     }
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {}
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {}
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "delete": {
            "tags": [
               "Broker Configuration Using SEMP Proxy"
            ],
            "summary": "(Beta) Delete a resource object on an event broker service by object path using a SEMP DELETE",
            "description": "<p>To delete a resource object on an event broker service using the unique identifier for the event broker service and the resource object path.</p><p><b>Note:</b> The Try It! feature for this API does not work. To use this API, you must:\n<ol><li>Copy the URL to another program.</li>\n<li>Remove the <code>/**</code> appended to the end of the URL.</li>\n<li>Replace the variables in the URL as specified in the PATH PARAMS.</li>\n</ol></p>\n<p>For more information, see <a href=https://docs.solace.com/Cloud/enable-oauth-profiles-on-service.htm>Configuring OAuth Profiles for Management Access to Event Broker Services</a> in the Solace documentation.</p>\n<p>This SEMP API supports the following SEMP objects only:\n<ul><li>[oauthProfiles]</li></ul>\n</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `services:post` ]",
            "operationId": "deleteResource",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The unique identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "resourcePath",
                  "in": "path",
                  "description": "The resource path for the resource object you want to delete using the SEMP DELETE request, for example oauthProfiles/profile1.\nSee <a href=\"objects\">Objects</a> for resource path formatting.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "A JSON object with metadata returned from the event broker service after deleting the resource object.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "string"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {}
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {}
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {}
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "patch": {
            "tags": [
               "Broker Configuration Using SEMP Proxy"
            ],
            "summary": "(Beta) Update a resource object on an event broker service using a SEMP PATCH",
            "description": "<p>To update a resource object on an event broker service using a SEMP PATCH.</p><p><b>Note:</b> The Try It! feature for this API does not work. To use this API, you must:\n<ol><li>Copy the URL to another program.</li>\n<li>Remove the <code>/**</code> appended to the end of the URL.</li>\n<li>Replace the variables in the URL as specified in the PATH PARAMS.</li>\n</ol></p>\n<p>For more information, see <a href=https://docs.solace.com/Cloud/enable-oauth-profiles-on-service.htm>Configuring OAuth Profiles for Management Access to Event Broker Services</a> in the Solace documentation.</p>\n<p>This SEMP API supports the following SEMP objects only:\n<ul><li>[oauthProfiles]</li></ul>\n</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `services:post` ]",
            "operationId": "patchResource",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The unique identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "resourcePath",
                  "in": "path",
                  "description": "The resource path for the resource object you want to update using the SEMP PATCH request, for example oauthProfiles/profile1.\nSee <a href=\"objects\">Objects</a> for resource path formatting.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "requestBody": {
               "description": "The object's attributes in JSON.",
               "content": {
                  "application/json": {
                     "schema": {
                        "type": "string"
                     },
                     "example": "{\"enabled\":true,\"oauthProfileName\":\"profile1\",\"oauthRole\":\"client\",\"resourceServerParseAccessTokenEnabled\":true,\"resourceServerValidateAudienceEnabled\":true,\"resourceServerValidateIssuerEnabled\":true,\"resourceServerValidateScopeEnabled\":true,\"resourceServerValidateTypeEnabled\":true,\"sempEnabled\":true}"
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "A JSON object returned by the event broker service after updating the resource object’s attributes. The JSON object describes the resource object’s attributes after being updated in name/value pairs.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "type": "string"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/BrokerSempProxyError"
                        },
                        "example": {
                           "meta": {
                              "error": {
                                 "code": "0",
                                 "description": "An entity of the type OAuth profile was passed in an invalid format.",
                                 "status": "SOLACE_CLOUD_CUSTOM_OAUTH_VALIDATION_FAILURE"
                              },
                              "request": {
                                 "method": "PATCH",
                                 "uri": "/api/v2/missionControl/eventBrokerServices/v4qyo12tlvb/broker/SEMP/v2/config/oauthProfiles/profile1"
                              },
                              "responseCode": 400
                           }
                        }
                     }
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {}
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {}
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         }
      },
      "/api/v2/missionControl/eventBrokerServices/{serviceId}/clientProfiles": {
         "get": {
            "tags": [
               "Client Profiles"
            ],
            "summary": "Get a list of client profiles",
            "description": "<p>Get the client profiles that are available for the event broker sevice.</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `services:get` **or** `services:get:self` **or** `services:view` **or** `services:view:self` ]",
            "operationId": "getClientProfiles",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "pageNumber",
                  "in": "query",
                  "description": "The page number to retrieve.",
                  "required": false,
                  "schema": {
                     "minimum": 1,
                     "type": "integer",
                     "default": 1
                  }
               },
               {
                  "name": "pageSize",
                  "in": "query",
                  "description": "The number of client profiles to return per page.",
                  "required": false,
                  "schema": {
                     "maximum": 100,
                     "minimum": 1,
                     "type": "integer",
                     "default": 100
                  }
               },
               {
                  "name": "sort",
                  "in": "query",
                  "description": "The sorting criteria for the list of client profiles.",
                  "required": false,
                  "schema": {
                     "type": "string",
                     "example": "name:asc",
                     "default": "name:asc"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ClientProfilesResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {}
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "post": {
            "tags": [
               "Client Profiles"
            ],
            "summary": "Create a client profile",
            "description": "<p>Create a client profile for the specified event broker service. You can optionally configure permissions for the client profile when creating it.</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `service_requests:post:client_profile` ]",
            "operationId": "createClientProfile",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "requestBody": {
               "description": "The new client profile specification.",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/ClientProfileRequest"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "202": {
                  "description": "Accepted.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/OperationResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An entity of type client profile was passed in an invalid format.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec",
                           "validationDetails": {
                              "name": [
                                 "must not be blank"
                              ]
                           }
                        }
                     }
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {}
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         }
      },
      "/api/v2/missionControl/eventBrokerServices/{serviceId}/clientProfiles/{name}": {
         "get": {
            "tags": [
               "Client Profiles"
            ],
            "summary": "Get a specific client profile for event broker service by name",
            "description": "<p>Get the details of a client profile using its name.</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `services:get` **or** `services:get:self` **or** `services:view` **or** `services:view:self` ]",
            "operationId": "getClientProfile",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "name",
                  "in": "path",
                  "description": "The name of the client profile.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ClientProfileResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Could not find the client profile with name, some_name.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "put": {
            "tags": [
               "Client Profiles"
            ],
            "summary": "Replace a client profile",
            "description": "<p>Replace the configuration of an existing client profile. You can provide any combination of supported fields. If a field is not provided, then it will be set to default value.</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `service_requests:post:client_profile` ]",
            "operationId": "replaceClientProfile",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The unique identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "name",
                  "in": "path",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "requestBody": {
               "description": "The fields to update the configuration for the client profile.",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/ClientProfileRequest"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "202": {
                  "description": "Accepted.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/OperationResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "A JSON parse error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Could not find the client profile with name, some_name.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "delete": {
            "tags": [
               "Client Profiles"
            ],
            "summary": "Delete a client profile",
            "description": "<p>Delete a client profile using the identifier for the event broker service and the name of the client profile.</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `service_requests:post:client_profile` ]",
            "operationId": "deleteClientProfile",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The unique identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "name",
                  "in": "path",
                  "description": "The name of the client profile.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "202": {
                  "description": "Operation accepted.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/OperationResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Could not find the client profile with name, some_name.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "patch": {
            "tags": [
               "Client Profiles"
            ],
            "summary": "Update a client profile",
            "description": "<p>Update the configuration of an existing client profile. You can provide any combination of supported fields. If a field is not provided, then it will not be updated.</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `service_requests:post:client_profile` ]",
            "operationId": "updateClientProfile",
            "parameters": [
               {
                  "name": "serviceId",
                  "in": "path",
                  "description": "The unique identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "name",
                  "in": "path",
                  "description": "The name of the client profile.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "requestBody": {
               "description": "The configuration to update for the client profile.",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/ClientProfileRequest"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "202": {
                  "description": "Accepted.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/OperationResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "A JSON parse error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Could not find the client profile with name, some_name.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         }
      },
      "/api/v2/missionControl/environments/{id}": {
         "get": {
            "tags": [
               "Environments"
            ],
            "summary": "(Beta) Get details of an environment in Mission Control",
            "description": "<p>Get the Mission Control-specific details of an environment.</p> <p> Your token must have one of the permissions listed in the Token Permissions. </p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `environments:view` ]",
            "operationId": "getEnvironment",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "The unique identifier of the environment.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "*/*": {
                        "schema": {
                           "$ref": "#/components/schemas/EnvironmentResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Access Denied.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Subject does not have permission [environments:view]",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Could not find environment environmentId",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "patch": {
            "tags": [
               "Environments"
            ],
            "summary": "(Beta) Update details for an environment in Mission Control",
            "description": "<p>Update the Mission Control-specific details of an environment. You can provide any combination of supported fields. If a field is not provided, then it will not be updated. </p><p> Your token must have one of the permissions listed in the Token Permissions. </p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `environments:edit` ]",
            "operationId": "patchEnvironment",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "The unique identifier of the environment.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "requestBody": {
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/EnvironmentRequest"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "*/*": {
                        "schema": {
                           "$ref": "#/components/schemas/EnvironmentResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Access Denied.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Subject does not have permission [environments:edit]",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Could not find environment environmentId",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         }
      },
      "/api/v2/missionControl/datacenters": {
         "get": {
            "tags": [
               "Event Broker Services"
            ],
            "summary": "Get a list of datacenters",
            "description": "Get the datacenters that are available for the account (or organization).<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `dc:get` ]",
            "operationId": "getDatacenters",
            "parameters": [
               {
                  "name": "pageNumber",
                  "in": "query",
                  "description": "The page number to retrieve.",
                  "required": false,
                  "schema": {
                     "minimum": 1,
                     "type": "integer",
                     "default": 1
                  }
               },
               {
                  "name": "pageSize",
                  "in": "query",
                  "description": "The number of datacenters to return per page.",
                  "required": false,
                  "schema": {
                     "maximum": 100,
                     "minimum": 1,
                     "type": "integer",
                     "default": 100
                  }
               },
               {
                  "name": "sort",
                  "in": "query",
                  "description": "<p>The sorting criteria for the returned results. You can sort the results by query\nparameter in ascending or descending order. Define the sort order using the following string:\n<code>fieldname:asc/desc</code> where:</p>\n<ul>\n        <li><code>fieldname</code>—The field name of the query parameter to sort by.</li>\n        <li><code>asc</code>—Sort the selected field name in ascending order.</li>\n        <li><code>desc</code>—Sort the selected field name in descending order.</li>\n</ul>\n<p>You can use multiple query parameters to refine the sorting order.</p>",
                  "required": false,
                  "schema": {
                     "type": "string",
                     "example": "name:asc,datacenterType:asc",
                     "default": "name:asc,datacenterType:asc"
                  }
               },
               {
                  "name": "datacenterType",
                  "in": "query",
                  "description": "<p>Filter the returned query results by datacenter type. The filtering options include:</p>\n<ul>\n        <li>'<code>Empty</code>'—Returns all datacenter types.</li>\n        <li>'<code>Unknown</code>'—Returns any datacenters where the <code>datacenterType</code>\n        is not set.</li>\n        <li>'<code>SolacePublic</code>'—Known as Public Regions. Public Regions are cloud-based,\n        managed datacenters shared between customers.</li>\n        <li>'<code>SolaceDedicated</code>'—Known as Dedicated Regions. Dedicated Regions are\n        cloud-based, managed datacenters dedicated to a single-customer.</li>\n        <li>'<code>CustomerControlled</code>'—Cloud-based Customer-Controlled Regions.</li>\n        <li>'<code>CustomerOnPrem</code>'—On-premises Customer-Controlled Regions.</li>\n</ul>",
                  "required": false,
                  "schema": {
                     "type": "string",
                     "enum": [
                        "Unknown",
                        "SolacePublic",
                        "SolaceDedicated",
                        "CustomerCloud",
                        "CustomerOnPrem"
                     ]
                  }
               },
               {
                  "name": "provider",
                  "in": "query",
                  "description": "<p>Filter the returned query results by Kubernetes provider type.\nThe filtering options include:</p>\n<ul>\n        <li>'<code>aks</code>'-Azure Kubernetes Service.</li>\n        <li>‘<code>eks</code>’-AWS Elastic Kubernetes Service.</li>\n        <li>‘<code>gce</code>’-Google Kubernetes Engine.</li>\n        <li>‘<code>k8s</code>’-Other Kubernetes provider.</li>\n        <li>‘<code>aws</code>’-(deprecated) VM-based on Amazon Web Services.</li>\n        <li>‘<code>azure</code>’-(deprecated) VM-based on Azure.</li>\n</ul>",
                  "required": false,
                  "schema": {
                     "type": "string",
                     "enum": [
                        "aks",
                        "aws",
                        "azure",
                        "eks",
                        "gcp",
                        "k8s"
                     ]
                  }
               },
               {
                  "name": "environmentId",
                  "in": "query",
                  "description": "<p>Filter the returned query results by an environment's unique identifier. You cannot filter public datacenters using an environment's unique identifier.</p>\n",
                  "required": false,
                  "schema": {
                     "type": "string",
                     "example": "abcd1234"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/DatacentersResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {}
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         }
      },
      "/api/v2/missionControl/datacenters/{id}": {
         "get": {
            "tags": [
               "Event Broker Services"
            ],
            "summary": "Get a specific datacenter by identifier",
            "description": "Get the details of a datacenter using its identifier.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `dc:get` ]",
            "operationId": "getDatacenter",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "The unique identifier of the datacenter.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/DatacenterResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Could not find the datacenter with id gke-gcp-us-central1-a.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "patch": {
            "tags": [
               "Event Broker Services"
            ],
            "summary": "Update a datacenter's environment",
            "description": "Update a datacenter's environment using the environment's unique identifier.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `dc:put` ]",
            "operationId": "updateDatacenter",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "The unique identifier of the datacenter.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "requestBody": {
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/DatacenterRequest"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/DatacenterResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "Could not find the datacenter with id gke-gcp-us-central1-a.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         }
      },
      "/api/v2/missionControl/datacenters/{id}/eventBrokerServiceVersions": {
         "get": {
            "tags": [
               "Event Broker Services"
            ],
            "summary": "Get a list of available software event broker versions",
            "description": "Get the software event broker versions available in the datacenter to create event broker services.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `event_broker_versions:get` ]",
            "operationId": "getEventBrokerServiceVersions",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "The unique identifier of the datacenter.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/EventBrokerServiceVersionsResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {}
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         }
      },
      "/api/v2/missionControl/defaultBrokerVersions": {
         "get": {
            "tags": [
               "Event Broker Services"
            ],
            "summary": "(Beta) Get event broker versions",
            "description": "Get the default version number used for event broker service creation in a specific datacenter. Note that the default version used for event broker service creation may not be the same as the latest event broker service version.",
            "operationId": "getVersions",
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/EventBrokerVersionsResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad Request.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     },
                     "*/*": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "forbidden"
               },
               "404": {
                  "description": "Entity Not Found.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         }
      },
      "/api/v2/missionControl/eventBrokerServices": {
         "get": {
            "tags": [
               "Event Broker Services"
            ],
            "summary": "Get a list of event broker services",
            "description": "<p>Get a listing of event broker services.</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `services:get` **or** `services:get:self` **or** `services:view` **or** `services:view:self` ]",
            "operationId": "getServices",
            "parameters": [
               {
                  "name": "customAttributes",
                  "in": "query",
                  "description": "<p>Filter the list of event broker services by custom attributes.</p><p>To filter by custom attribute name and value, use the format: <code>customAttributes=&lt;custom-attribute-name&gt;==&lt;custom-attribute-value&gt;</code>.</p><code>customAttributes</code> are RSQL query strings that support using asterisks as a wildcard. You can place a wildcard at the beginning, middle, or end of the query value.</p><p>The supported attributes, and examples of each are listed below:</p><ul>\n<li><code>name</code>, examples include:</li>\n<ul>\n<li><code>name==myservice</code></li>\n<li><code>name==production*</code></li>\n<li><code>name==*prod*</code></li>\n</ul>\n<li><code>ownedBy</code>, examples include:</li>\n<ul>\n<li><code>ownedBy==userId</code></li>\n</ul>\n<li><code>environmentId</code>, examples include:</li>\n<ul>\n<li><code>environmentId==12345</code></li>\n<li><code>environmentId!=345678</code></li>\n</ul>\n</ul>",
                  "required": false,
                  "schema": {
                     "type": "string",
                     "example": "name==someName"
                  }
               },
               {
                  "name": "expand",
                  "in": "query",
                  "description": "<p>Additional information to retrieve for the event broker service. The supported value is <code>allowedActions</code>.</p><p>The returned <code>allowedActions</code> may include: '<code>get</code>', '<code>messageSpoolDetails</code>', '<code>configure</code>', '<code>update</code>', '<code>broker_update</code>', '<code>delete</code>', '<code>assign</code>'.</p><p>The definitions for each action are listed below:</p><li><code>get</code> The user can get the event broker service.</li>\n<li><code>messageSpoolDetails</code> The user can get the message spool details.</li>\n<li><code>configure</code> The user can configure the event broker service, for example, to add a new client profile.</li>\n<li><code>update</code> The user can update the event broker service configurations.</li>\n<li><code>broker_update</code> The user can update the event broker service message vpn configuration.</li>\n<li><code>delete</code> The user can delete the event broker service.</li>\n<li><code>assign</code> The user can assign the event broker service to other users.</li>\n",
                  "required": false,
                  "schema": {
                     "type": "string",
                     "example": "allowedActions"
                  }
               },
               {
                  "name": "sort",
                  "in": "query",
                  "description": "<p>Sort the returned event broker services by attribute.</p><p>You can use the following value formats for the sort order:</p><ul>\n<li><code>attributes-names</code></li>\n<li><code>attributes-names:sort-order</code></li>\n</ul><p>Add <code>attribute-names</code> in a comma-separated list in the order you want to sort them by.</p><p>Use the <code>sort-order</code> to sort the attributes using one of the following values:</p><ul>\n<li>‘<code>asc</code>’-ascending order</li>\n<li>‘<code>desc</code>’-descending order</li>\n</ul><p>If you do not define a sort order, it will default to ascending order.\nThese are support attribute names you can sort by:</p><ul>\n<li>name</li>\n<li>adminState</li>\n<li>creationState</li>\n<li>datacenterId</li>\n<li>serviceClassId</li>\n<li>ownedBy</li>\n<li>createdTime</li>\n</ul>\nFor example, if you want to get a list of event broker services by name and time of creation, in ascending order, you would enter: <code>datacenterId,createdTime:asc</code>\n",
                  "required": false,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "pageNumber",
                  "in": "query",
                  "description": "The page number to retrieve.",
                  "required": false,
                  "schema": {
                     "minimum": 1,
                     "type": "integer",
                     "default": 1
                  }
               },
               {
                  "name": "pageSize",
                  "in": "query",
                  "description": "The number of event broker services to return per page.",
                  "required": false,
                  "schema": {
                     "maximum": 100,
                     "minimum": 1,
                     "type": "integer",
                     "default": 100
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ServiceSummaryResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {}
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         },
         "post": {
            "tags": [
               "Event Broker Services"
            ],
            "summary": "Create an event broker service",
            "description": "<p>Create an event broker service. You must provide a unique name and select a service class and datacenter. You can optionally define other properties for the event broker service.</p><p>Your token must have one of the permissions listed in the Token Permissions.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `services:post` ]",
            "operationId": "createService",
            "requestBody": {
               "description": "The new service specification.",
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/CreateServiceRequest"
                     }
                  }
               },
               "required": true
            },
            "responses": {
               "202": {
                  "description": "Accepted.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/OperationResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An entity of type service was passed in an invalid format.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec",
                           "validationDetails": {
                              "serviceClassId": [
                                 "must not be blank"
                              ]
                           }
                        }
                     }
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "An authentication error occurred.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "403": {
                  "description": "Forbidden.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        },
                        "example": {
                           "message": "You do not have permissions to perform this operation.",
                           "errorId": "618e2fb0-a198-4d9d-9219-13e51ef0ecec"
                        }
                     }
                  }
               },
               "404": {
                  "description": "Not found.",
                  "content": {
                     "application/json": {}
                  }
               },
               "503": {
                  "description": "Service unavailable.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
                        }
                     }
                  }
               }
            },
            "security": [
               {
                  "bearerAuth": []
               }
            ]
         }
      },
      "/api/v2/missionControl/eventBrokerServices/{id}": {
         "get": {
            "tags": [
               "Event Broker Services"
            ],
            "summary": "Get a specific event broker service by identifier",
            "description": "<p>Get the details of an event broker service using its identifier. Additional information about the event broker service can be requested using the 'expand' parameter.</p><br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ `mission_control:access` **or** `services:get` **or** `services:get:self` **or** `services:view` **or** `services:view:self` ]",
            "operationId": "getService",
            "parameters": [
               {
                  "name": "id",
                  "in": "path",
                  "description": "The unique identifier of the event broker service.",
                  "required": true,
                  "schema": {
                     "type": "string"
                  }
               },
               {
                  "name": "expand",
                  "in": "query",
                  "description": "You can request additional information about the event broker service by selecting expand parameters, including connection endpoint information, broker details including version, allowed actions you can perform on the service, and message spool details.",
                  "required": false,
                  "schema": {
                     "maxItems": 4,
                     "minItems": 0,
                     "uniqueItems": true,
                     "type": "array",
                     "items": {
                        "type": "string",
                        "enum": [
                           "broker",
                           "serviceConnectionEndpoints",
                           "allowedActions",
                           "messageSpoolDetails"
                        ]
                     }
                  }
               }
            ],
            "responses": {
               "200": {
                  "description": "OK.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ServiceResponse"
                        }
                     }
                  }
               },
               "400": {
                  "description": "Bad request.",
                  "content": {
                     "application/json": {}
                  }
               },
               "401": {
                  "description": "Unauthorized.",
                  "content": {
                     "application/json": {
                        "schema": {
                           "$ref": "#/components/schemas/ErrorResponse"
[...]
