{"openapi":"3.1.0","info":{"title":"Platform","description":"# REST API Concepts\n\nSolace PubSub+ Platform provides RESTful APIs that you can use to manage your data in PubSub+ Cloud. The REST APIs allow\nyou to model your event-driven architectures from your own client applications.\n\nThe following document describes the public REST APIs available for use. Please note that these APIs are in the Early\nAccess release stage and are available for testing and early user feedback. The APIs are subject to change until they\nare declared Generally Available.","version":"2.1.3"},"servers":[{"url":"https://api.solace.cloud","description":"Solace PubSub+ Cloud US EAST Region"},{"url":"https://api.solacecloud.com.au","description":"Solace PubSub+ Cloud AU Region"},{"url":"https://api.solacecloud.eu","description":"Solace PubSub+ Cloud EU Region"},{"url":"https://api.solacecloud.sg","description":"Solace PubSub+ Cloud SG Region"}],"security":[{"APIToken":[]}],"tags":[{"name":"Environments"},{"name":"Roles"},{"name":"Access Control"},{"name":"Single Sign-On"},{"name":"User Groups"},{"name":"Users"},{"name":"Organization Contacts"}],"paths":{"/api/v2/platform/rrbac/resourceAssignments":{"get":{"tags":["Access Control"],"summary":"(Beta) Get the role- and resource-based assignments","description":"Get the role- and resource-based assignments in the account (organization).<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_user_rrbac_attribute_assignments:get</code> ]","operationId":"getResourceAssignments","parameters":[{"name":"resourceId","in":"query","description":"The unique identifier for the resource","required":false,"schema":{"type":"string","description":"The unique identifier for the resource"}},{"name":"resourceType","in":"query","description":"The type of resource to assign.\n- 'application_domain' : A logical area within Event Portal where organizations create and manage objects that represent the components of your event-driven architecture.\n- 'event_broker_service' : An event broker service within Mission Control Cluster Manager.\n- 'environment' : An environment within Event Portal.<Review>","required":false,"schema":{"type":"string","description":"The type of resource to assign.\n- 'application_domain' : A logical area within Event Portal where organizations create and manage objects that represent the components of your event-driven architecture.\n- 'event_broker_service' : An event broker service within Mission Control Cluster Manager.\n- 'environment' : An environment within Event Portal.<Review>","enum":["application_domain","event_broker_service","environment"]}}],"responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceAssignmentsResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}},"put":{"tags":["Access Control"],"summary":"(Beta) Add or replace the role and resource assignments","description":"Add or replace the role and resource assignments.","operationId":"saveResourceAssignments","parameters":[{"name":"resourceId","in":"query","description":"The unique identifier for the resource","required":true,"schema":{"type":"string","description":"The unique identifier for the resource"}},{"name":"resourceType","in":"query","description":"The type of resource to assign.\n- 'application_domain' : A logical area within Event Portal where organizations create and manage objects that represent the components of your event-driven architecture.\n- 'event_broker_service' : An event broker service within Mission Control Cluster Manager. <Review>","required":true,"schema":{"type":"string","description":"The type of resource to assign.\n- 'application_domain' : A logical area within Event Portal where organizations create and manage objects that represent the components of your event-driven architecture.\n- 'event_broker_service' : An event broker service within Mission Control Cluster Manager. <Review>","enum":["application_domain","event_broker_service","environment"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ResourceAssignmentUpdate"}}}},"required":true},"responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ResourceAssignmentsResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}}},"/api/v2/platform/environments":{"get":{"tags":["Environments"],"summary":"Get list of environments","description":"Get a list of all environments.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>environments:view</code> ]","operationId":"searchEnvironments","parameters":[{"name":"pageSize","in":"query","description":"The number of environments to get per page.","schema":{"type":"integer","default":10,"maximum":100,"minimum":1}},{"name":"pageNumber","in":"query","description":"The page number to get.","schema":{"type":"integer","default":1,"minimum":1}},{"name":"name","in":"query","description":"Name of the environment to match on.","schema":{"type":"string"}},{"name":"sort","in":"query","description":"The query (fieldName:<ASC/DESC>) used to sort the environment list in the response","schema":{"type":"string","enum":["name:DESC","name:ASC","createdAt:DESC","createdAt:ASC","updatedAt:DESC","updatedAt:ASC","id:DESC","id:ASC"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnvironmentsResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}},"post":{"tags":["Environments"],"summary":"Create an environment","description":"Create a new environment.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>environments:edit</code> ]","operationId":"createEnvironment","requestBody":{"description":"The environment object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnvironmentResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}}},"/api/v2/platform/environments/{id}":{"get":{"tags":["Environments"],"summary":"Get an environment","description":"Get an environment using its unique identifier.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>environments:view</code> ]","operationId":"getEnvironmentById","parameters":[{"name":"id","in":"path","description":"The unique identifier of the environment","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnvironmentResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}},"put":{"tags":["Environments"],"summary":"Update an environment's attributes","description":"Update an environment's attributes using the environment's unique identifier.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>environments:edit</code> ]","operationId":"updateEnvironment","parameters":[{"name":"id","in":"path","description":"The unique identifier of the environment","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The environment object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnvironmentResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not Found","content":{}}}},"delete":{"tags":["Environments"],"summary":"Delete an environment","description":"Delete an environment using its unique identifier. The default environment cannot be deleted.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>environments:edit</code> ]","operationId":"deleteEnvironmentById","parameters":[{"name":"id","in":"path","description":"The unique identifier of the environment","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Successful Operation"},"400":{"description":"Unable to delete the last environment","content":{}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not Found","content":{}}}},"patch":{"tags":["Environments"],"summary":"Update an environment's attributes","description":"Modify an environment's attributes using the environment's unique identifier.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>environments:edit</code> ]","operationId":"patchEnvironment","parameters":[{"name":"id","in":"path","description":"The unique identifier of the environment","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"The environment object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvironmentUpdateRequest"}}},"required":true},"responses":{"200":{"description":"Successful Operation","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EnvironmentResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not Found","content":{}}}}},"/api/v2/platform/contacts":{"get":{"tags":["Organization Contacts"],"summary":"(Beta) Get contacts for your organization","description":"Retrieves the contact list from a single organization. If you have an account that has multiple organizations, you would retrieve the contact list from the organization where you created the API token.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_user:get</code> ]","operationId":"getMyContacts","parameters":[{"name":"contactType","in":"query","description":"The type of contact to filter by. The allowed contact types are: <ul><li>`EXTERNAL_ALERTS`-The contacts for operational alerts, such as event broker outages or issues with the platform.</li><li>`EXTERNAL_NOTIFICATIONS`-The contacts for operational notifications about the platform, such as event broker upgrades, upcoming deprecation notices, and event broker update announcements.</li></ul>","required":false,"schema":{"type":"string","enum":["EXTERNAL_ALERTS","EXTERNAL_NOTIFICATIONS"]}}],"responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}}},"/api/v2/platform/contacts/{contactType}":{"put":{"tags":["Organization Contacts"],"summary":"(Beta) Update contacts for your organization","description":"Update a customer's organization contacts by contact type. The new list will replace the organization's contact list for the selected contact type.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>console_org_contacts:put</code> ]","operationId":"updateMyContacts","parameters":[{"name":"contactType","in":"path","description":"The type of contact list to update. The allowed contact types are: <ul><li>`EXTERNAL_ALERTS`-The contacts for operational alerts, such as event broker outages or issues with the platform.</li><li>`EXTERNAL_NOTIFICATIONS`-The contacts for operational notifications about the platform, such as event broker upgrades, upcoming deprecation notices, and event broker update announcements.</li></ul>","required":true,"schema":{"type":"string","enum":["EXTERNAL_ALERTS","EXTERNAL_NOTIFICATIONS"]}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/Envelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}}},"/api/v2/platform/roles":{"get":{"tags":["Roles"],"summary":"(Beta) Get a list of roles","description":"Get the list of the roles available in the account (organization).<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_org_roles:get</code> ]","operationId":"getRoles","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RolesResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}}},"/api/v2/platform/sso/idpClaimMappings":{"get":{"tags":["Single Sign-On"],"summary":"(Beta) Get the assigned claims","description":"Get the claim to user group mappings (or claim mappings).<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_claim_mapping:read</code> ]","operationId":"getClaimMappings","responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimMappingResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}},"put":{"tags":["Single Sign-On"],"summary":"(Beta) Add or replace the claim mappings","description":"Add or replace the claim mappings.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_claim_mapping:write</code> ]","operationId":"saveClaimMappings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClaimMappingRequest"}}},"required":true},"responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ClaimMappingResponseEnvelope"}}}},"400":{"description":"Bad request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}}},"/api/v2/platform/userGroups":{"get":{"tags":["User Groups"],"summary":"(Beta) Get a list of user groups","description":"Get the list of the user groups.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_user_group:read</code> ]","operationId":"getUserGroups","parameters":[{"name":"pageSize","in":"query","description":"The number of user groups to get per page.","schema":{"type":"integer","default":10,"maximum":100,"minimum":1}},{"name":"pageNumber","in":"query","description":"The page number to retrieve.","schema":{"type":"integer","default":1,"minimum":1}},{"name":"name","in":"query","description":"The name of user group.","schema":{"type":"string","example":"MyCustomServiceRoleEditor"}},{"name":"sort","in":"query","description":"The query (fieldName:<asc/desc>) used to sort the list in the response.","schema":{"type":"string","enum":["name:desc","name:asc"]}}],"responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserGroupsResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}},"post":{"tags":["User Groups"],"summary":"(Beta) Create a user group","description":"Create a user group. You can assign roles when creating the user group. Users who belong to the user group inherit the group's assigned roles and entitlements.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_user_group:write</code> ]","operationId":"createUserGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserGroupRequest"}}},"required":true},"responses":{"201":{"description":"Created.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserGroupResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}}},"/api/v2/platform/userGroups/{id}":{"get":{"tags":["User Groups"],"summary":"(Beta) Get a specific user group by identifier","description":"Get the details of a user group using its unique identifier.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_user_group:read</code> ]","operationId":"getUserGroup","parameters":[{"name":"id","in":"path","description":"The unique identifier for the user group.","required":true,"schema":{"type":"string","format":"uuid","example":"11edc73b-f324-3ef8-9635-e17383261a4e"}}],"responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserGroupResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}},"put":{"tags":["User Groups"],"summary":"(Beta) Update a user group","description":"Update an existing user group.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_user_group:write</code> ]","operationId":"updateUserGroup","parameters":[{"name":"id","in":"path","description":"The unique identifier for the user group.","required":true,"schema":{"type":"string","format":"uuid","example":"11edc73b-f324-3ef8-9635-e17383261a4e"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserGroupResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}},"delete":{"tags":["User Groups"],"summary":"(Beta) Delete a specific user group by identifier","description":"Delete a user group using its unique identifier.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_user_group:write</code> ]","operationId":"deleteUserGroup","parameters":[{"name":"id","in":"path","description":"The unique identifier for the user group.","required":true,"schema":{"type":"string","format":"uuid","example":"11edc73b-f324-3ef8-9635-e17383261a4e"}}],"responses":{"204":{"description":"No Content."},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}}},"/api/v2/platform/users":{"get":{"tags":["Users"],"summary":"(Beta) Get a list of users in your account","description":"Get a list of users. You can retrieve a list of users matching on email, name, identifiers, or roles.<br><br><a href=\"https://api.solace.dev/cloud/reference/authentication\">Token Permissions</a>: [ <code>iam_users:get</code> ]","operationId":"getUsers","parameters":[{"name":"pageNumber","in":"query","description":"The page number to retrieve.","schema":{"type":"integer","default":1,"minimum":1}},{"name":"pageSize","in":"query","description":"The number of users to return on each page.","schema":{"type":"integer","default":10,"maximum":100,"minimum":1}},{"name":"name","in":"query","description":"The name of the user. You can enter a partial string into the field to match multiple users.","required":false,"schema":{"type":"string"}},{"name":"email","in":"query","description":"The email address of the user. You can enter a partial string into the field to match multiple users.","required":false,"schema":{"type":"string"}},{"name":"ids","in":"query","description":"The list of unique identifiers for users.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"roles","in":"query","description":"The unique identifiers of the roles that are assigned to the user.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"groups","in":"query","description":"The unique identifiers of the groups that are assigned to the user.","required":false,"schema":{"type":"array","items":{"type":"string"}}}],"responses":{"200":{"description":"OK.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UsersResponseEnvelope"}}}},"400":{"description":"Bad request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Bad request.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}},"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"An authentication error occurred.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"403":{"description":"Forbidden.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"You do not have permissions to perform this operation.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}},"404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"message":"Could not find service 4o5kyf4x5504.","errorId":"618e2fb0-a198-4d9d-9219-13e51ef0ecec"}}}}}}}},"components":{"schemas":{"ErrorResponse":{"type":"object","properties":{"message":{"type":"string","description":"A user-friendly message that describes the error.","example":"An error occurred."},"errorId":{"type":"string","description":"The UUID (Universally Unique Identifier) that is logged with an appropriate stack trace for a WARN or ERROR log that allows support to better determine what cause the error.","example":"123e4567-e89b-12d3-a456-426655440000"},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"The metadata about the error. This provides additional information about the error that occurred.","example":"'object': { 'field': 'description' }"},"validationDetails":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}},"description":"When applicable, these are the details of issues with the fields provided for the REST call.","example":"'name': ['Not unique']"}}},"UserGroupRequest":{"type":"object","properties":{"name":{"type":"string","description":"The name of the user group.","example":"MyCustomServiceRoleEditor","maxLength":50,"minLength":1},"description":{"type":"string","description":"A description of the user group.","example":"This group can modify event broker services and event meshes.","maxLength":255,"minLength":0},"roles":{"type":"array","description":"A collection of unique identifiers representing the roles assigned to the user group.","example":"event-portal-user","items":{"type":"string"},"uniqueItems":true}},"required":["name"]},"UserGroupResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid","description":"The unique identifier for the user group."},"organizationId":{"type":"string","description":"The unique identifier for the account (organization)."},"name":{"type":"string","description":"The name of the user group."},"description":{"type":"string","description":"A description of the user group."},"roles":{"type":"array","description":"A collection of unique identifiers representing the roles assigned to the user group.","items":{"type":"string"},"uniqueItems":true}}},"UserGroupResponseEnvelope":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/UserGroupResponse"},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"<p>The metadata about the response, which can include:</p><ul><li>Pagination data, such as page number, page size, etc. for GET operations that return large amount of response data. For more information, see <a href=\"./pagination\">Pagination</a>.</li><li>Timestamp information, such as current time, or the time create or update operation occurred for CREATE, PUT, POST operations.</li></ul>"},"included":{"type":"array","items":{"type":"object"}}}},"ClaimMappingRequest":{"type":"object","properties":{"claimKey":{"type":"string","description":"The claim key or name of the token issued by the identity provider (IdP).","example":"claim","maxLength":255,"minLength":1},"claimValueToGroupsMapping":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string","format":"uuid"}},"description":"The claim mapping. A claim mapping is the value from the claim to the unique identifiers of the user groups.","example":{"administrator":["5ab4b2f6-0e2f-48d5-bded-5f0b934731f0"],"viewer":["f153287f-a8a5-4465-b783-b38da6c2866c","b2168cb3-0a32-475a-9ace-014f67205891"]}},"justInTimeProvisioning":{"type":"boolean","description":"Indicates whether to allow Just-In-Time (JIT). The valid values are 'true' (enable) or 'false' (disable). The default is 'false'."},"defaultGroupId":{"type":"string","format":"uuid","description":"The unique identifier of the user group to assign to a user when user's claim doesn't match any of the claims in the account (organization).","example":"b2168cb3-0a32-475a-9ace-014f67205891"},"state":{"type":"string","description":"The state of the claim mapping. The following states are:<ul><li>`enabled`- Use the claim mapping. Users that log in using SSO are mapped to specified roles.</li><li>`disabled`- To not use the claim mapping. Users that log in using SSO are not mapped to the specified roles.</li></ul>","enum":["enabled","disabled"]}},"required":["claimKey","claimValueToGroupsMapping","state"]},"ClaimMappingResponse":{"type":"object","properties":{"claimKey":{"type":"string","description":"The claim key or name of the token issued by the identity provider (IdP).","example":"claim"},"claimValueToGroupsMapping":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string","format":"uuid"}},"description":"The claim mapping. A claim mapping is the value from the claim to the unique identifiers of the user groups.","example":{"administrator":["5ab4b2f6-0e2f-48d5-bded-5f0b934731f0"],"viewer":["f153287f-a8a5-4465-b783-b38da6c2866c","b2168cb3-0a32-475a-9ace-014f67205891"]}},"justInTimeProvisioning":{"type":"boolean","description":"Indicates whether to allow Just-In-Time (JIT). The valid values are 'true' (enable) or 'false' (disable). The default is 'false'."},"defaultGroupId":{"type":"string","format":"uuid","description":"The unique identifier of the user group to assign to a user when user's claim doesn't match any of the claims in the account (organization).","example":"b2168cb3-0a32-475a-9ace-014f67205891"},"state":{"type":"string","description":"The state of the claim mapping. The following states are:<ul><li>`enabled`- Use the claim mapping. Users that log in using SSO are mapped to specified roles.</li><li>`disabled`- To not use the claim mapping. Users that log in using SSO are not mapped to the specified roles.</li></ul>","enum":["enabled","disabled"]}}},"ClaimMappingResponseEnvelope":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/ClaimMappingResponse"},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"<p>The metadata about the response, which can include:</p><ul><li>Pagination data, such as page number, page size, etc. for GET operations that return large amount of response data. For more information, see <a href=\"./pagination\">Pagination</a>.</li><li>Timestamp information, such as current time, or the time create or update operation occurred for CREATE, PUT, POST operations.</li></ul>"},"included":{"type":"array","items":{"type":"object"}}}},"ResourceAssignmentUpdate":{"type":"object","properties":{"userId":{"type":"string","description":"The unique identifier for the user.<p>You cannot assign the 'event_broker_service' resource type to a userId object. You can only assign them to userGroupId objects in organizations with single sign-on enabled.</p>"},"userGroupId":{"type":"string","format":"uuid","description":"The unique identifier for the user group."},"rrbacRoleId":{"type":"string","description":"The unique identifier of the role."}}},"ResourceAssignment":{"type":"object","properties":{"userId":{"type":"string","description":"The unique identifier for the user."},"userGroupId":{"type":"string","format":"uuid","description":"The unique identifier for the user group."},"rrbacRoleId":{"type":"string","description":"The unique identifier of the role."},"resourceId":{"type":"string","description":"The unique identifier of the resource."},"resourceType":{"$ref":"#/components/schemas/ResourceType","description":"The type of resource to assign.\n- 'application_domain' : A logical area within Event Portal where organizations create and manage objects that represent the components of your event-driven architecture.\n- 'event_broker_service' : An event broker service within Mission Control Cluster Manager.\n- 'environment' : An environment within Event Portal.<Review>","enum":["application_domain","event_broker_service","environment"]}}},"ResourceAssignmentsResponseEnvelope":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/ResourceAssignment"}},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"<p>The metadata about the response, which can include:</p><ul><li>Pagination data, such as page number, page size, etc. for GET operations that return large amount of response data. For more information, see <a href=\"./pagination\">Pagination</a>.</li><li>Timestamp information, such as current time, or the time create or update operation occurred for CREATE, PUT, POST operations.</li></ul>"},"included":{"type":"array","items":{"type":"object"}}}},"ResourceType":{"type":"string","description":"The type of resource to assign.\n- 'application_domain' : A logical area within Event Portal where organizations create and manage objects that represent the components of your event-driven architecture.\n- 'event_broker_service' : An event broker service within Mission Control Cluster Manager.\n- 'environment' : An environment within Event Portal.<Review>","enum":["application_domain","event_broker_service","environment"]},"EnvironmentUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"isDefault":{"type":"boolean","description":"Indicates whether this is the organization’s default environment. The default value is false. The valid values are:\n<ul>\n    <li>true: The environment is the default.</li>\n    <li>false: The environment is not default.</li>\n    </ul>"},"icon":{"type":"string","description":"Specify the name of the icon to use for the environment.","enum":["CONSTRUCTION","MAINTENANCE","TOOLKIT","TERMINAL","TEST_TUBE","BUG","BROKER","ROCKET_LAUNCH","VERIFIED","DEPLOYED_CODE","NEW_RELEASE","CONTENT_SEARCH"]},"fgColor":{"type":"string","description":"Specify the RGB hexadecimal color code for the environment's foreground.\nYou can use 6-digit (opaque) or 8-digit (alpha) hex color codes.\n","example":"#000000 | #00000080","pattern":"^#[0-9a-fA-F]{6}([0-9a-fA-F]{2})?$"},"bgColor":{"type":"string","description":"Specify the RGB hexadecimal color code for the environment's background.\nYou can use 6-digit (opaque) or 8-digit (alpha) hex color codes.\n","example":"#FF0000 | #FF000080","pattern":"^#[0-9a-fA-F]{6}([0-9a-fA-F]{2})?$"}}},"EnvironmentResponse":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"isDefault":{"type":"boolean"},"isProduction":{"type":"boolean"},"icon":{"type":"string"},"fgColor":{"type":"string"},"bgColor":{"type":"string"},"id":{"type":"string"},"createdBy":{"type":"string"},"createdTime":{"type":"string"},"updatedBy":{"type":"string"},"updatedTime":{"type":"string"},"organization":{"$ref":"#/components/schemas/OrganizationInfo"},"type":{"type":"string"}},"required":["name"]},"EnvironmentResponseEnvelope":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/EnvironmentResponse"},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"<p>The metadata about the response, which can include:</p><ul><li>Pagination data, such as page number, page size, etc. for GET operations that return large amount of response data. For more information, see <a href=\"./pagination\">Pagination</a>.</li><li>Timestamp information, such as current time, or the time create or update operation occurred for CREATE, PUT, POST operations.</li></ul>"},"included":{"type":"array","items":{"type":"object"}}}},"OrganizationInfo":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"internal":{"type":"boolean"},"organizationType":{"type":"string","enum":["STANDARD","ENTERPRISE","TRIAL","POC","SAP","BOOMI","INTERNAL"]}}},"Envelope":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/OrganizationContact"}},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"<p>The metadata about the response, which can include:</p><ul><li>Pagination data, such as page number, page size, etc. for GET operations that return large amount of response data. For more information, see <a href=\"./pagination\">Pagination</a>.</li><li>Timestamp information, such as current time, or the time create or update operation occurred for CREATE, PUT, POST operations.</li></ul>"},"included":{"type":"array","items":{"type":"object"}}}},"OrganizationContact":{"type":"object","properties":{"id":{"type":"string","description":"The unique identifier for the organization contact."},"type":{"type":"string","description":"The type of object for informational purposes.","readOnly":true},"email":{"type":"string","description":"The email address of the organization contact."},"contactType":{"type":"string","description":"The type of notification that is sent to the contact's email. The allowed contact types are: <ul><li>'INTERNAL' - Internal notifications.</li><li>'EXTERNAL_ALERTS'- External alerts. </li><li>'EXTERNAL_NOTIFICATIONS'- External notifications. </li></ul>","enum":["INTERNAL","EXTERNAL_ALERTS","EXTERNAL_NOTIFICATIONS"]}}},"EnvironmentCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"isDefault":{"type":"boolean","description":"Indicates whether this is the organization’s default environment. The default value is false. The valid values are:\n<ul>\n    <li>true: The environment is the default.</li>\n    <li>false: The environment is not default.</li>\n    </ul>"},"isProduction":{"type":"boolean","description":"Indicates whether this is an organization’s production environment. The default value is true. The valid values are:\n<ul>\n    <li>true: The environment is a production environment.</li>\n    <li>false: The environment is not a production environment.</li>\n</ul>\n<p>This is an immutable field. If an environment needs to be migrated, architecture can be migrated to a new environment\nwith the desired environment type instead.</p>\n"},"icon":{"type":"string","description":"Specify the name of the icon to use for the environment.","enum":["CONSTRUCTION","MAINTENANCE","TOOLKIT","TERMINAL","TEST_TUBE","BUG","BROKER","ROCKET_LAUNCH","VERIFIED","DEPLOYED_CODE","NEW_RELEASE","CONTENT_SEARCH"]},"fgColor":{"type":"string","description":"Specify the RGB hexadecimal color code for the environment's foreground.\nYou can use 6-digit (opaque) or 8-digit (alpha) hex color codes.\n","example":"#000000 | #00000080","pattern":"^#[0-9a-fA-F]{6}([0-9a-fA-F]{2})?$"},"bgColor":{"type":"string","description":"Specify the RGB hexadecimal color code for the environment's background.\nYou can use 6-digit (opaque) or 8-digit (alpha) hex color codes.\n","example":"#FF0000 | #FF000080","pattern":"^#[0-9a-fA-F]{6}([0-9a-fA-F]{2})?$"}},"required":["name"]},"GroupInfo":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"}}},"UserResponse":{"type":"object","properties":{"type":{"type":"string","description":"The type of object for informational purposes.","readOnly":true},"id":{"type":"string","description":"The unique identifier for the user."},"organizationId":{"type":"string","description":"The unique identifier for the account (organization)."},"firstName":{"type":"string","description":"The first name of the user."},"lastName":{"type":"string","description":"The last name of the user."},"email":{"type":"string","description":"The email address of the user."},"roles":{"type":"array","description":"The ids of the roles of the user.","items":{"type":"string"},"uniqueItems":true},"groups":{"type":"array","description":"The names and ids of the groups of the user.","items":{"$ref":"#/components/schemas/GroupInfo"},"uniqueItems":true},"userAttributes":{"type":"object","additionalProperties":{"type":"string"},"description":"Additional information about the user."},"state":{"type":"string","description":"The state of the user in the account (organization). The state includes:<ul><li>'NEVER_ACTIVATED'-The user was not activated.</li><li>'INVITED'-The user was invited to join the account.</li><li>'ACTIVE'-The user is active in the account.</li></ul>"}}},"UsersResponseEnvelope":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/UserResponse"}},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"<p>The metadata about the response, which can include:</p><ul><li>Pagination data, such as page number, page size, etc. for GET operations that return large amount of response data. For more information, see <a href=\"./pagination\">Pagination</a>.</li><li>Timestamp information, such as current time, or the time create or update operation occurred for CREATE, PUT, POST operations.</li></ul>"},"included":{"type":"array","items":{"type":"object"}}}},"UserGroupsResponseEnvelope":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/UserGroupResponse"}},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"<p>The metadata about the response, which can include:</p><ul><li>Pagination data, such as page number, page size, etc. for GET operations that return large amount of response data. For more information, see <a href=\"./pagination\">Pagination</a>.</li><li>Timestamp information, such as current time, or the time create or update operation occurred for CREATE, PUT, POST operations.</li></ul>"},"included":{"type":"array","items":{"type":"object"}}}},"CategoryJSON":{"type":"object","properties":{"description":{"type":"string"},"order":{"type":"integer","format":"int32"},"categoryId":{"type":"string"}}},"LevelJSON":{"type":"object","properties":{"description":{"type":"string"},"order":{"type":"integer","format":"int32"}}},"Permission":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"visible":{"type":"boolean"},"permissionTags":{"$ref":"#/components/schemas/PermissionTags"},"type":{"type":"string"}}},"PermissionTags":{"type":"object","properties":{"category":{"$ref":"#/components/schemas/CategoryJSON"},"level":{"$ref":"#/components/schemas/LevelJSON"},"description":{"type":"string"}}},"Role":{"type":"object","properties":{"id":{"type":"string","description":"The unique identifier for the role.","example":"administrator"},"name":{"type":"string","description":"The name of the role.","example":"Administrator"},"description":{"type":"string","description":"The description of the role.","example":"User has full access to Mission Control, Event Portal, Micro-Integrations, and account administrative functions (for example, user management)."},"permissions":{"type":"array","description":"The permissions of the role.","items":{"$ref":"#/components/schemas/Permission"},"uniqueItems":true},"type":{"type":"string","example":"role"}}},"RolesResponseEnvelope":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/Role"}},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"<p>The metadata about the response, which can include:</p><ul><li>Pagination data, such as page number, page size, etc. for GET operations that return large amount of response data. For more information, see <a href=\"./pagination\">Pagination</a>.</li><li>Timestamp information, such as current time, or the time create or update operation occurred for CREATE, PUT, POST operations.</li></ul>"},"included":{"type":"array","items":{"type":"object"}}}},"EnvironmentsResponseEnvelope":{"type":"object","properties":{"data":{"type":"array","items":{"$ref":"#/components/schemas/EnvironmentResponse"}},"meta":{"type":"object","additionalProperties":{"type":"object"},"description":"<p>The metadata about the response, which can include:</p><ul><li>Pagination data, such as page number, page size, etc. for GET operations that return large amount of response data. For more information, see <a href=\"./pagination\">Pagination</a>.</li><li>Timestamp information, such as current time, or the time create or update operation occurred for CREATE, PUT, POST operations.</li></ul>"},"included":{"type":"array","items":{"type":"object"}}}}},"securitySchemes":{"APIToken":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"x-readme":{"explorer-enabled":true,"proxy-enabled":true}}